
body {
	background: rgb(235, 235, 235);	
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

button[disabled] {
    opacity: 0.7;
}
button[disabled]:hover {
    cursor: not-allowed;
}

#hide1{
    display: none;
}


form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-box {
    position: absolute;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}
img{
    width: 6rem;
    border-radius: 2rem;
}

h3{
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}
h4{
    color: black;
}
h5{
    font-size: 1rem;
    color:rgba(128, 128, 128, 0.603);
    cursor: pointer;
}

.form-group{
    padding: 1rem;
}
.eye{
    position: absolute;
    padding-right: 1rem;
}

.form-control{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px;
    border-style: 1px solid blue;
    background-color: rgba(129, 129, 129, 0.137);
    width: 19rem;
    height: 1.5rem;
    padding: 0.8rem 1rem 0.8rem;
}

:placeholder-shown{
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
.input{
    border-radius: 0.5rem;
    justify-content: right;
    align-items: center;
    display: flex;
}
.entrar{
    background-color:  rgb(82, 82, 255);
    color: white;
    box-shadow: 0px 0px 2px 0px gray;
    margin-top: 1.5rem;
    border: 1px;
    padding: 1rem 9rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.criar-conta{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    box-shadow: 10px #eee;
}

.senha{justify-content: center;
    font-size: 1rem;
    border: 1px;
    box-shadow: 0px 0px 2px 0px rgba(153, 153, 153, 0.993);
    padding: 0.8rem 6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


.loader{
    animation: is-rotating 1.2s infinite;
    width: 50px;
    height: 50px;
    display: none;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 10rem;
    transition: scale(2);
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}